body {
    text-align: center;
    font-family: monospace;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h3 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.infobox {
    display: flex;
    flex-direction: column;
    align-items: center;
}